.footer {
  position: relative;
  height: 390px;
  padding: 65px 165px 35px;
  background: left top url(/images/bg-pattern-footer-desktop.svg) no-repeat
    $liGray;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    margin-bottom: 48px;
    border-bottom: 1px solid hsl(273, 13%, 86%); ///custom
    &__links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 145px;
      svg {
        cursor: pointer;
        transition: all 0.13s ease-in-out;
        fill: #837d88;
        &:hover {
          fill: $drkViolet2;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: start;
    &__box {
      width: 260px;
      p {
        margin-bottom: 33px;
        font-family: $Karla;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $drkGrayViolet;
      }
      a {
        display: block;
        margin-bottom: 14px;
        font-family: $Karla;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }
    }
  }
}
