.hero {
  position: relative;
  height: 600px;
  padding: 95px 165px;
  background-color: $drkViolet;
  margin-bottom: 205px;
  .heroImg {
    position: absolute;
    width: 540px;
    height: 650px;
    right: 164px;
    top: 104px;
    background: center / cover url(/images/image-intro-desktop.jpg);
  }
  hr {
    border: 0;
    height: 1px;
    width: 153px;
    margin-left: 0;
    margin-bottom: 65px;
    background: white;
  }
  h1 {
    width: 515px;
    margin-bottom: 30px;
    font-family: $DM;
    font-size: 70px;
    font-weight: 500;
    line-height: 0.9;
    color: $liGray;
  }
  p {
    width: 540px;
    margin-bottom: 30px;
    font-family: $Karla;
    line-height: 1.6;
    color: hsl(0, 0%, 88%);
  }
  button {
    display: inline-block;
    padding: 9px 26px;
    padding-top: 11px;
    border: 2px solid hsl(0, 0%, 84%);
    outline: inherit;
    cursor: pointer;
    font-family: $Karla;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    color: $liGray;
    transition: $trans12;
    &:hover {
      background-color: $liGray;
      border: 2px solid $liGray;
      color: $drkViolet;
    }
  }
  .pattern1 {
    position: absolute;
    right: 0;
    bottom: 90px;
  }
  .pattern2 {
    position: absolute;
    left: 0;
    top: 430px;
  }
}
