@media screen and (max-width: 900px) {
  .background {
    position: relative;
    overflow-x: hidden;
    .navbar {
      padding: 0 30px;
      img {
        height: 14px;
      }
      .links {
        width: 345px;
        a {
          font-size: 13px;
          letter-spacing: 0;
        }
        button {
          padding: 8px 15px;
        }
      }
    }
    .hero {
      height: auto;
      padding: 0px 0px 90px;
      margin-bottom: 150px;
      background: left 120.43vw url(/images/bg-pattern-intro-left-mobile.svg)
        no-repeat $drkViolet;
      .heroImg {
        position: static;
        height: 120.43vw; //450px;
        margin-bottom: 90px;
        width: auto;
        background: center / cover url(/images/image-intro-mobile.jpg) no-repeat;
      }
      hr {
        display: none;
      }
      h1 {
        width: auto;
        max-width: 350px;
        margin: 0 auto 20px;
        padding: 0 5px;
        font-size: 48px;
        text-align: center;
      }
      p {
        max-width: 321px;
        width: auto;
        margin: 0 auto 35px;
        text-align: center;
      }
      button {
        display: block;
        margin: 0 auto;
      }
      .pattern1,
      .pattern2 {
        display: none;
      }
      &:after {
        position: absolute;
        bottom: -200px;
        right: 0;
        content: url(/images/bg-pattern-intro-right-mobile.svg);
      }
    }
    .weReDifferentSection {
      padding: 0 0;
      hr {
        margin: 0 auto 40px;
      }
      h2 {
        padding-bottom: 30px;
        font-size: 48px;
        text-align: center;
      }
      .featuresBlock {
        display: block;
        .feature {
          margin: 0 auto;
          text-align: center;
          img {
            display: block;
            margin: 60px auto 40px;
          }
          h3 {
          }
          p {
            width: 336px;
            margin: 0 auto;
          }
        }
      }
      .findOutMore {
        display: block;
        width: auto;
        height: auto;
        padding: 60px 40px;
        margin: 0 24px 140px;
        background: right url(/images/bg-pattern-how-we-work-mobile.svg)
          no-repeat $drkViolet;
        h3 {
          width: 100%;
          max-width: 250px;
          font-size: 40px;
          text-align: center;
          margin: 0 auto 40px;
          z-index: 50;
        }
        button {
          display: block;
          margin: 0 auto;
        }
      }
    }
    .footer {
      padding: 80px 0;
      height: 1024px;
      background: left top url(/images/bg-pattern-footer-mobile.svg) no-repeat
        $liGray;
      &__top {
        display: block;
        margin: 0 auto;
        max-width: 325px;
        padding-bottom: 43px;
        img {
          display: block;
          margin-bottom: 30px;
          margin: 0 auto 40px;
        }
        &__links {
          margin: 0 auto;
        }
      }
      &__bottom {
        display: block;
        &__box {
          width: 100%;
          text-align: center;
          margin-top: 40px;
        }
      }
    }
  }
}

///mediaQs for hero img in mobile//
@media screen and (max-width: 345px) {
  .background {
    .hero {
      background: left 400px url(/images/bg-pattern-intro-left-mobile.svg)
        no-repeat $drkViolet;
      .heroImg {
        height: 400px;
      }
      p {
        padding: 0 10px;
      }
    }
    .weReDifferentSection {
      h2 {
        width: 300px;
        margin: 0 auto;
      }
      .featuresBlock {
        .feature {
          width: 100%;
          padding: 0 15px;
          p {
            width: auto;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 520px) and (max-width: 900px) {
  .background {
    .hero {
      background: $drkViolet;
      .heroImg {
        height: 625px;
        width: 520px;
        margin-left: auto;
        margin-right: auto;
      }
      .pattern2 {
        display: block;
      }
      .pattern1 {
        display: block;
        top: 0;
        height: 57.3vw; // 350px;
      }
    }
  }
}

///for navbar//////////
@media screen and (max-width: 520px) {
  .humburgerMenu {
    display: block;
  }
  .navbar {
    padding: 0 24px;
    .links {
      display: none;
    }
    .humburgerButtons {
      display: block;
      position: relative;
      .humburgerButton {
        opacity: 1;
        width: 30px;
        height: 30px;
        z-index: 5;
        transition: $trans54;
      }
      .closeButton {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 30px;
        height: 30px;
        z-index: -5;
        transition: $trans54;
      }
    }
  }
}
