.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 11.1vw;
  z-index: 50;
  background-color: white;
  img {
    height: 18px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 445px;
    font-family: $Karla;
    a {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $drkGrayViolet;
    }
    button {
      display: inline-block;
      padding: 10px 30px;
      border: 2px solid hsl(0, 0%, 30%);
      outline: inherit;
      cursor: pointer;
      font-family: inherit;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      background: none;
    }
  }
  .humburgerButtons {
    display: none;
  }
}
