////fonts//////
$Karla: "Karla", sans-serif;
$DM: "DM Serif Display", serif;

///colors/////'
$grayBlue: hsl(216, 30%, 68%);
$drkViolet: hsl(256, 26%, 20%);
$drkViolet2: hsl(270, 9%, 17%);
$drkGrayViolet: hsl(273, 4%, 51%);
$liGray: hsl(0, 0%, 98%);

////
$trans54: all 0.54s ease-in-out;
$trans34: all 0.34s ease-in-out;
$trans12: all 0.12s ease-in-out;
