////fonts//////
$Karla: "Karla", sans-serif;
$DM: "DM Serif Display", serif;

///colors/////'
$grayBlue: hsl(216, 30%, 68%);
$drkViolet: hsl(256, 26%, 20%);
$drkViolet2: hsl(270, 9%, 17%);
$drkGrayViolet: hsl(273, 4%, 51%);
$liGray: hsl(0, 0%, 98%);
